<p>Dear <%= @user.email %></p>

<p> Welcome to The Mini Pu'er. Your account has been created. We look forward to sending you our litte bundle of joy straight into your tea cup. To access your account, please visit our website at <a href="http://www.theminipuer.com/">TheMinipuer</a><p>

<p>As a token of appreciation, we have credited 50 Mini Points (worth of RM15) into your membership account. Start shopping and enjoy discounts on your first purchase. On top of that, you will also enjoy the privilege as a member and all the goodness from The Mini Pu'er.</p>

<p>Membership Privileges:</p>
<ul>
  <li>Birthday Specials</li>
  <li>Earn Mini Points every time you shop online</li>
  <li>Seasonal offers and new product sampling exclusively for members</li>
  <li>And more!</li>
</ul>


<p>Start collecting Mini Points now for Bigger Rewards from The Mini Pu'er.</p>

<a href="http://www.theminipuer.com/products">TheMinipuer</a


<p>
Sincerely,
<br />
The Mini Pu'er Team
</p>
