<p>Dear <%= @user.email %></p>

<p>Welcome to The Mini Pu’er! Your account has been created. We look forward to sending you little bundle of joy straight into your tea cup. To access your account, please visit our website at <a href="http://www.theminipuer.com/"><b>The Mini Pu’er</b></a>.</p>
<p>As a token of appreciation, we have credited <b>1000 Mini Points</b> into your membership account.</p>
<p>Start shopping and enjoy discounts on your first purchase! On top of that, you will also enjoy all member privileges and goodness from The Mini Pu’er.</p>

<p><b>Membership Privileges:</b></p>
<hr/>
<p>Lifetime Membership with no registration and annual fees</p>
<p>Earn Mini Points</p>
<p>Collect Mini Points every time you shop</p>
<p>Share your purchases on Facebook & Instagram with hashtag</p>
<hr/>
<p><b>#TheMiniPuer</p>
<p>- Review our products to receive Mini Points upon approval</p>
<p>- Refer a friend to sign up as new member</p>
<p>- Shop with Mini Points</p>
<p>- Enjoy seasonal offers and new product sampling</p>

<p><b>EXCLUSIVELY for members only</b></p>
<p>Start collecting Mini Points today for BIGGER REWARDS from us!</p>

<a href="http://www.theminipuer.com/products" style="display: inline-block; padding: 15px 40px; color: white; background: #3F7C75;">SHOP NOW</a>

<p>
Sincerely,
<br />
<b>The Mini Pu'er Team</b>
</p>
